
  <div class="columns">
    <div class="column is-narrow">
      <div class="grid" [ngStyle]="{'max-height': '90vh', 'overflow': 'auto'}">
        <ng-container *ngFor="let field of coreFields">
          <div class="item header">{{ field.text }}</div>
        </ng-container>

        <div class="item">
          <select [(ngModel)]="setTypeFilter">
            <option value="all">All</option>
            <option *ngFor="let setType of setTypes" [value]="setType">{{ setType }}</option>
          </select>
        </div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>

        <ng-container *ngFor="let set of getSets()">
          <div class="item" *ngFor="let field of coreFields" (click)="selectSet(set)">
            <p>{{ set[field.key] }}</p>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="column is-narrow">
      <div *ngIf="isLoadingCardSet">
        <p>Loading {{ selectedSet.name }}...</p>
      </div>
      <div *ngIf="selectedSet" class="card-grid" style="grid-template-columns: 2em 6em auto 5em auto 5em" [ngStyle]="{'max-height': '90vh', 'overflow': 'auto'}">
        <div class="cell header"></div>
        <div class="cell header">Rarity</div>
        <div class="cell header">Name</div>
        <div class="cell header">Reprint</div>
        <div class="cell header">Type</div>
        <div class="cell header">USD</div>

        <div class="item"></div>
        <div class="item">
          <select [(ngModel)]="rarityFilter">
            <option value="all">All</option>
            <option value="common">Common</option>
            <option value="uncommon">Uncommon</option>
            <option value="rare">Rare</option>
            <option value="mythic">Mythic</option>
          </select>
        </div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <ng-container *ngFor="let card of getFilteredCardSet()">
          <div class="item">{{ card.cmc }}</div>
          <div class="item">{{ card.rarity }}</div>
          <div class="item" (click)="selectCard(card)">{{ card.name }}</div>
          <div class="item"><span *ngIf="card.reprint">Yes</span></div>
          <div class="item">{{ card.type_line }}</div>
          <div class="item">${{ card.usd }}</div>
        </ng-container>
      </div>
    </div>
    <div class="column">
      <div *ngIf="selectedCard">
        <p>{{ selectedCard.name }}</p>
        <img [src]="selectedCard.image_uris['large']" />
      </div>

    </div>
  </div>
